{% extends "base.html" %} {% block title %} Password Reset {% endblock title %}
{% block content %}
<main>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4 class="mb-0 text-dark">
              Enter your email to reset the password
            </h4>
            <h6 class="text-muted">Welcome back!</h6>
          </div>
          <div class="card-body">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-danger message text-center" role="alert">
              {{ message }}
            </div>
            {% endfor %} {% endif %}

            <form action="{% url 'forgot-password' %}" method="post">
              {% csrf_token %}

              <div class="mb-3">
                <label for="email" class="form-label"
                  ><strong>Email:</strong></label
                >
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter Your email id"
                  required
                />
              </div>

              <button type="submit" class="btn btn-danger w-100">
                Reset Password
              </button>
            </form>

            <p class="text-dark mt-3" style="font-size: 17px">
              Remember your password?
              <a
                href="{% url 'login' %}"
                class="text-primary"
                style="text-decoration: none"
                >Login here</a
              >
            </p>
            <p class="text-dark mt-3" style="font-size: 17px">
              Don't have an account?
              <a
                href="{% url 'signup' %}"
                class="text-primary"
                style="text-decoration: none"
                >Sign up here</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  // Hide the reset message after 10 seconds
  window.onload = function () {
    setTimeout(function () {
      const message = document.querySelector(".message");
      if (message) {
        message.style.display = "none";
      }
    }, 10000); // 10000ms = 10 seconds
  };
</script>

{% endblock content %} {% block body %} {% endblock body %}
