{% extends "base.html" %} 
{% block title %} Password Reset Sent {% endblock title %} 
{% block content %}
<main>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4 class="mb-0 text-dark">Password Reset Sent</h4>
            <h6 class="text-muted">Check your email for the reset link</h6>
          </div>
          <div class="card-body">
            <div class="alert alert-info" role="alert">
              A password reset link has been sent to your email. Please note
              that it <b>expires in 10 minutes</b>!
            </div>
            <div class="d-flex justify-content-center">
              <a href="{% url 'login' %}" class="btn btn-danger"
                >Back to Login</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
