{% extends "base.html" %}
{% block title %}
  TO-DO
{% endblock title %}
{% block content %}
<main>
  <div class="container-fluid ">
    <div class="row row justify-content-center text-center ">
      <div class="col-sm-6 login-section-wrapper">
        <div class="login-wrapper my-auto">
          <h1 class="login-title ">Signup</h1>
          {% if messages %}
          {% for message in messages%}
          <h1 class="login-title badge badge-light" style="color:red;">{{message}}</h1>
          {% endfor%}
          {% endif %}
          
          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" class="form-control" placeholder="Write Username">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="abc@gmail.com">
            </div>
            <div class="form-group">
              <label for="phone_field">Mobile No.</label>
              <input type="text" name="phone_field" id="phone_field" class="form-control" placeholder="5555566666">
            </div>

            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword">
            </div>

            <div class="form-group mb-4">
              <label for="confirm_password">Confirm Password</label>
              <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="enter your passsword again">
            </div>
            <button type="submit" class="btn btn-danger login-btn">Signup</button>

          </form>
          <!-- <a href="#!" class="forgot-password-link">Forgot password?</a> -->
          <p class="login-wrapper-footer-text">Already have an account? <a href="/" class="text-reset">Login here</a></p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
{% block body %}
{% endblock body %}